/*para los comentarios '/* */
*{
	/*margin: 0px;*/
}

/*h1, h3, h4, h5{
	color: green;
}*/

/*p, li{
	color: yellow;
}*/
/*
.rojo{
	color: red;
}

.verde{
	color: green;
}

article{
	color: yellow;
}
input[type=text]{
	color: green;
}

input[type=email]{
	color: blue;
}

a[href='http://www.google.com']{
	color: skyblue;
	text-decoration: none;
}

li:nth-child(2n){
	color: green;
}

li:nth-child(2n+1){
	color: blue;
}

h4:nth-child(odd){
	color:yellow;
}*/

/*#tituloMayor{
	color: black;
}

.rojo{
	color: red;
}*/
/*body{
	color: green;
}*/

ol{
	color: blue;
}

